html {
  /* HTML-Wide declarations */
  font-size: 5vmin;
  line-height: 1.25;
  font-family: "Source Sans Pro", sans-serif;
  font-kerning: auto;
  text-align: center;

}

#body{
  height: 100%;
  margin: 0;
  background: #FFFFFF;

  /* CSS Gradient Background and SVG Image overlay */


  background:
    url("background.svg"),
    -webkit-linear-gradient(45deg,  #FF5500 10%, #9911FF 90%);

  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  background: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 9em;
  font-weight: 300;
  margin: 1em auto 0.1em auto;
  max-width: 9em;
}

.slogan {
  background: -webkit-linear-gradient(45deg,  #00FFFF 20%, #00FF00 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
}

.logoWhite {
  height: 6em;
  margin:  1em auto 0 auto;
  display: block;
}

.mainButton {
  background: -webkit-linear-gradient(45deg,  #ff0000 20%, #00FF00 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #FFFFFF;
  border: none;
  border-radius: 1em;
  padding: 0 0.3em 0 0.3em;
  outline: none;
  margin: 1em auto 0 auto;
  font: inherit;
  font-size: 6vmin;
  font-weight: 300;
}

.textButton {
  background: -webkit-linear-gradient(45deg,  #AF0200 20%, #57007F 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #FFFFFF;
  border: none;
  outline: none;
  margin: 1em auto 0 auto;
  font: inherit;
  font-size: 6vmin;
  font-weight: 300;
}

.audioVisualiser {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 3em;
  margin:  0 auto 0 auto;
}